# Python
venv/
__pycache__/
*.pyc

# dbt
target/
dbt_packages/
logs/

# Airflow
airflow.db
airflow.cfg
logs/

# OS
.DS_Store

#logs
logs/
dbt.log

#Seeds
seeds/
.gitkeep

#macros
macros/
.gitkeep

#analyses
analyses/
.gitkeep

#test
test/
